html, body
{
    height: 100%
}

body
{
    margin: 0;
    overflow: hidden;
    font-family: 'Alegreya', serif;
}
.background
{
    background-image: url(img/background.png);
    width: 100%;
    height: 100%;
}

.content
{
    mix-blend-mode: color-burn;
}

.draggable
{
    cursor: move;
}

#info
{
    font-size: 32px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#compass
{
    background-image: url(img/compass.png);
    background-size: cover;
    width: 250px;
    height: 250px;

    position: fixed;
    left: 20px;
    bottom: 20px;
}

#map
{
    background-image: url(img/map.png);
    background-size: cover;
    width: 3000px;
    height: 3000px;

    position: fixed;
}

#grid
{
    opacity: 0;
    background-image: url(img/grid.png);
    background-size: cover;
    width: inherit;
    height: inherit;

    position: fixed;
}

#politicallabel
{

}

#geographylabel
{

}

#citylabel
{

}

#townlabel
{

}
